eSock-WS/src/main/resources/xsd/hello.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hello="http://eSock.ro/ws/resources"
           targetNamespace="http://eSock.ro/ws/resources" elementFormDefault="qualified">
    <xs:element name="helloRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="helloResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="greeting" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 